

.menu-button{
    margin: 0 auto;
    color: #ffffff;
    font-family: MuseoSansRounded-500;
    font-size: 15px;
    line-height: 50px;
    padding-left: 12px;
    /*text-align: center;*/
    height: 50px;
    /*background-color: #f4a401;*/

    

}





.mueso900Large{
    font-family: MuseoSansRounded-900;
    font-size: 17px;
    letter-spacing: 1px;
}
.mueso900Medium{
    font-family: MuseoSansRounded-900;
    font-size: 15px;
    letter-spacing: 1px;
}
.mueso900Small{
    font-family: MuseoSansRounded-900;
    font-size: 13px;
    letter-spacing: 1px;
}

.mueso700Large{
    font-family: MuseoSansRounded-700;
    font-size: 17px;
}
.mueso700Medium{
    font-family: MuseoSansRounded-700;
    font-size: 15px;
}
.mueso700Small{
    font-family: MuseoSansRounded-700;
    font-size: 13px;
}

.mueso500Large{
    font-family: MuseoSansRounded-500;
    font-size: 17px;
}
.mueso500Medium{
    font-family: MuseoSansRounded-500;
    font-size: 15px;
}
.mueso500Small{
    font-family: MuseoSansRounded-500;
    font-size: 13px;
}